spring.application.name=technical

# Render dynamic port
server.port=${PORT:8080}

# API Versioning
application.api.base-path=/api/v1

# JWT Configuration
application.security.jwt.secret-key=JWT_SECRET_KEY
application.security.jwt.expiration=86400000

# ===============================
# PostgreSQL Database Configuration
# ===============================
spring.datasource.url=jdbc:postgresql://HOST/TU_DB?sslmode=require
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
