spring.application.name=technical

# Render dynamic port
server.port=${PORT:8080}

# API Versioning
application.api.base-path=/api/v1

# JWT Configuration
application.security.jwt.secret-key=TU_JWT_SECRET_KEY_AQUI
application.security.jwt.expiration=86400000

# ===============================
# PostgreSQL Database Configuration
# ===============================
spring.datasource.url=jdbc:postgresql://TU_HOST_AQUI/TU_DB?sslmode=require
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
